.git
.github
.claude
.gemini
android
android/**
flutter_app
flutter_app/**
release
release/**
dist-electron
dist-electron/**
electron
electron/**
node_modules
node_modules/**
pawan-flow-work-main-git
pawan-flow-work-main-git/**
*.tar.gz
*.pem
*.log
*.apk
*.exe
*.asar
*.zip
*.map
